---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Example Domain">
<section class="content">
  <h1>Example Domain</h1>
  <p>
    This domain is for use in documentation examples without needing permission. Avoid use in operations.
  </p>
  <a href="https://www.iana.org/domains/example" class="learn-more">Learn more</a>
</section>
</Layout>